<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "banner.html" %}
{% block title %}Activation{% endblock %}
{% block page %}
<fieldset>
  <legend>Activation</legend>
    <span>
      {% if success %}
        Activation was successful. You can now <a href="/login">log in</a> with
        your user name and password.
      {% else %}
        Activation failed. The given token was already used or doesn't exist.
        Please check your activation token.
      {% endif %}
    </span>
</fieldset>
{% endblock %}