<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "banner.html" %}
{% block title %}Login{% endblock %}
{% block page %}
<div class="container" style="box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1)">
  <form class="form-horizontal" action="/login" method="post">
    <fieldset>
      <legend>Login</legend>
      {% if form.errors['credentials'] %}
        <div class="alert alert-error controls" style="display: inline-block">
          {{ form.errors['credentials'] }}
        </div>
      {% endif %}
      <div class="control-group  {{ 'error' if form.user_name.errors }}">
        <div class="controls">
          {{ form.user_name(placeholder="%s" % form.user_name.label.text) }}
          {% if form.user_name.errors %}
            <span class="help-inline alert alert-error">
              {% for error in form.user_name.errors %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div class="control-group  {{ 'error' if form.password.errors }}">
        <div class="controls">
          {{ form.password(placeholder="%s" % form.password.label.text) }}
          {% if form.password.errors %}
            <span class="help-inline alert alert-error">
              {% for error in form.password.errors %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn">Login</button>
        <a href="/register" class="btn">Register</a>
      </div>
    </fieldset>
  </form>
  <fieldset>
    <legend>Or log in with:</legend>
    <div class="row" style="text-align: center">
      {% for x in ['FaceBook', 'Twitter', 'LinkedIn'] %}
      <div class="span4">
        <button class="btn">{{ x }}</button>
      </div>
      {% endfor %}
    </div>
  </fieldset>
</div>
{% endblock %}
