<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "banner.html" %}
{% block title %}Registration{% endblock %}
{% block page %}
<form class="form-horizontal" action="/register" method="post">
  <fieldset>
    <legend>Registration</legend>
    <div>
      <div class="control-group {{ 'error' if form.user_name.errors }}">
        <div class="controls">
          {{ form.user_name(placeholder="%s" % form.user_name.label.text) }}
          {% if form.user_name.errors %}
            <span class="help-inline alert alert-error">
              {% for error in form.user_name.errors %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div class="control-group {{ 'error' if form.password.errors }}">
        <div class="controls">
          {{ form.password(placeholder="%s" % form.password.label.text) }}
          {% if form.password.errors %}
            <span class="help-inline alert alert-error">
              {% for error in form.password.errors %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div class="control-group {{ 'error' if form.password_verify.errors }}">
        <div class="controls">
          {{ form.password_verify(placeholder="%s" % form.password_verify.label.text) }}
        </div>
      </div>
      <div class="control-group {{ 'error' if form.email_address.errors }}">
        <div class="controls">
          {{ form.email_address(placeholder="%s" % form.email_address.label.text) }}
          {% if form.email_address.errors %}
            <span class="help-inline alert alert-error">
              {% for error in form.email_address.errors %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn">Register</button>
    </div>
  </fieldset>
</form>
{% endblock %}
{% block javascript %}
{{super()}}
<script type="text/javascript">
$(function()
{
  $( document ).tooltip();
});
</script>
{% endblock %}